body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
    
}

h1 {
    background-color: #333;
    color: white;
    padding: 15px;
}

.produk {
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.produk img {
    width: 100%;
    border-radius: 10px;
}

a {
    margin: 10px;
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
/* STYLE FORM */
form {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}
/* Efek hover untuk tombol link (Pesan) */
a:hover {
    background: darkgreen;
}
/* NAVBAR */
.navbar {
    background: #333;
    padding: 10px;
}

.navbar a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: yellow;
}
.navbar {
    text-align: center;
}
/* HEADER */
.header {
    background: url('https://via.placeholder.com/800x300') no-repeat center;
    background-size: cover;
    color: white;
    padding: 80px 20px;
}

.header h1 {
    font-size: 40px;
}

.header p {
    font-size: 18px;
}

/* Tombol di header */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: darkgreen;
}
.about {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}